*{
    margin: 0;
    padding: 0;
}
.jumbotron{
    background-color:orange;
    padding: 70px 0px;
    color: #fff;
    text-align: center;
}
.card{
    width: 300px;
    height: 230px;
    margin-bottom: 20px;
    padding: 10px;
    text-align:center;
}
.food-img{
    height:110px;
    width: 110px;
}
.recipe_container{
    margin: 10px;
}
.footer{
  text-align: center;  
  background-color: black;
  color: #ffffff;
  padding-top: 8px;
  padding-bottom: 1px;
}
.footer .row{
    display: flex;
    align-items: center;
}
.footer .row .col{
    margin:0;
    padding:0;
}